.carousel { 
   width:100%;
   background-size: 50%;
   vertical-align: middle;
  }

  .item {
    height:500px;
    width:100%;
    vertical-align: middle;
  }
  .item img {
    width:100%;
    height:100%;
  }

  .insideitem {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
