@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.nav-bar {
  display: inline-flex;
  vertical-align: middle;
}

.Nav-header {
  background-color: #222;
  height: 5px;
  padding: 20px;
  color: white;
  left: 20px; 
}

.Nav-title {
  font-size: 1em;
  position: absolute;
  top:0px;
  left: 60px;
  color: white;
}

.Nav-intro {
  font-size: large;
}

.Nav-button{
  position: absolute;
  top:10px;
  right: 20px;
  background-color: #008CBA;
  color:white;
  font-size: 12px;
  border-radius:12px;
  
}
.Nav-icon{
  position: relative;
  top:8px;
  left:20px;
  background-color: #222;
  color:white; 
  
}

.Nav-menu{
    position: absolute;
    left:15px;
    top:40px;
}
.Nav-search{
  display: inline-flex;
  vertical-align: middle;
}

toolbar {
    display: inline-flex;
    vertical-align: middle;
}

